@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap')

html
  background $bgColor

body
  background $bgColor
  font-family "Noto Sans JP", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif

header.navbar
  background $headerBgColor
  border-bottom 4px solid $accentColor
  .site-name
    color: #22242f
  .links
    background transparent
    .nav-item a.nav-link
      color $headerFgColor
      &.router-link-active
        color $headerFgColor
    .repo-link
      color $headerFgColor

aside.sidebar
  background $sidebarBgColor
  border-right .25rem solid #666

  .nav-links
    .nav-item a.nav-link
      color $sidebarFgColor
      &:hover
        color #fff
      &.router-link-active
        color $sidebarAccentColor
    .repo-link
      color $sidebarFgColor

  .sidebar-links
    .sidebar-heading
      color $sidebarFgColor
      &:hover
        color $sidebarAccentColor
    a.sidebar-link
      color $sidebarFgColor
      &:hover
        color $sidebarAccentColor
      &.active
        color $sidebarAccentColor
        border-left-color $sidebarAccentColor


.theme-default-content
  h1, h2, h3, h4, h5, h6
    color $titleColor
  h2
    border-bottom 1px dotted $titleColor
  pre, pre[class*="language-"]
    border 1px solid $borderColor
    code
      color black


@import '~prismjs/themes/prism.css'