// colors
$accentColor = #4F5B93 // #3eaf7c
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #fff // #282c34
$arrowBgColor = #ccc
$badgeTipColor = #42b983
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961

$bgColor = #f2f2f2

$headerBgColor = #8892bf
$headerFgColor = #fff

$sidebarBgColor = #333
$sidebarFgColor = #ccc
$sidebarAccentColor = #ae508d

$titleColor = #793862

// layout
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 740px
$homePageWidth = 960px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px
